body{
background-color:#ff6f0;
font-family:Arial,sans-serif;
padding:20px;
margin:0;
}
header{
background-color:#b30059
color:white;
padding:20px
text-aling:center;
}
h1{
font-size:32px;
margin:0;
}
main{
margin:30px auto;
max-width:800px;
}
p{
font-size:20px;
color:#333;
line-height:1.6;
margin-bottom:15px;
}
img{
display:blok

